{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block table %}
<br></br>
<br></br>
<h1 class="page-header"> Gestion des Rendez-vous </h1>
<br></br>
<a href="/Cabinet/Administration/Gestionrdv/créer" class="btn btn-success"><h4>Créer</h4></a>
<body>

<br></br>
<table class="table table-stripped">
    <thead>
      <tr>
        <th><h4>Nom</h4></th>
        <th><h4>Prénom</h4></th>
        <th><h4>Cin</h4></th>
        <th><h4>Num_tél</h4></th>
        <th><h4>Date</h4></th>
        <th><h4>Séance</h4></th>
        <th><h4>Action</h4></th>
      </tr>
    </thead>
    <tbody>
          {% for rdv in rdvs %}
          <tr>
        <td><h4>{{rdv.nom}}</h4></td>
        <td><h4>{{rdv.prenom}}</h4></td>
        <td><h4>{{rdv.cin}}</h4></td>
        <td><h4>{{rdv.numTel}}</h4></td>
        <td><h4>{{rdv.dateRdv}}</h4></td>
        <td><h4>{{rdv.seance}}</h4></td>
        <td><a href="/Cabinet/Administration/Gestionrdv/edit/{{rdv.id}}" class="btn btn-warning"><h4>Modifier</h4></a>
        <a href="/Cabinet/Administration/Gestionrdv/delete/{{rdv.id}}" class="btn btn-danger" onclick="return confirm('est ce que tu est sûr ?')"><h4>Supprimer</h4></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </body>
{% endblock %}