{% extends 'base.html.twig' %}

{% block table %}
<br></br>
<br></br>
    <a class="btn btn-outline-secondary" href="/Cabinet/Administration/Gestionfiche">Retour</a>
    <hr>
    <h1 class="page-header">{{user.prenom}} {{user.nom}} </h1>
    <br></br>
    <ul class="list-group">
    <li class"list-group-item"><h3> Numéro Cin : {{user.cin}}</h3></li>
    <li class"list-group-item"><h3> Date de naissance : {{user.dateDeNaissance|date('F j, Y')}}</h3></li>
    <br></br>
    </ul>
    <h1>🡺 Mutuelles </h1>
    <br></br>
    {% if(mutuelle == null) %}
    <h4>Ce patient n'a pas de mutuelles</h4>
    <a class="btn btn-success" href="/Cabinet/Administration/Gestionmutuelle/créer/{{user.id}}"><h3>Créer</h3></a>
    <br></br>
    {% else %}
    <ul class="list-group">
    <li class"list-group-item"><h3> Caisse : {{mutuelle.caisse}}</h3></li>
    <li class"list-group-item"><h3> Valide de : "{{mutuelle.valide}}"  à  "{{mutuelle.a}}" </h3></li>
    <li class"list-group-item"><h3> Identificateur Unique : "{{mutuelle.identificateur}}" </h3></li>
    <li class"list-group-item"><a class="btn btn-warning" href="/Cabinet/Administration/Gestionmutuelle/edit/{{user.id}}"><h3>Modifier</h3></a>
    <a class="btn btn-danger" onclick="return confirm('est ce que tu est sûr ?')" href="/Cabinet/Administration/Gestionmutuelle/delete/{{user.id}}"><h3>Supprimer</h3></a></li>
    <br></br>
    <br></br>
    </ul>
    {% endif %}
    <h1>🡺 Consultations</h1>
    <body>

<br></br>
<table class="table table-stripped">
    <thead>
      <tr>
        <th><h4>Date</h4></th>
        <th><h4>Type</h4></th>
        <th><h4>Maladie</h4></th>
        <th><h4>Action</h4></th>
      </tr>
    </thead>
    <tbody>

        {% for consult in consultations %}

            <tr>
        <td><h4>{{consult.date_consult}}</h4></td>
        <td><h4>{{consult.type}}</h4></td>
        <td><h4>{{consult.maladie}}</h4></td>
        <td><a href="/Cabinet/Administration/Gestionconsultation/voirconsult/{{consult.id}}" class="btn btn-info"><h4>Voir</h4></a>
        <a href="/Cabinet/Administration/Gestionconsultation/edit/{{consult.id}}" class="btn btn-warning"><h4>Modifier</h4></a>
        <a href="/Cabinet/Administration/Gestionconsultation/delete/{{consult.id}}" class="btn btn-danger" onclick="return confirm('est ce que tu est sûr ?')"><h4>Supprimer</h4></a>
        </td>
          </tr>

        {% endfor %}

    </tbody>
  </table>
  </body>    
{% endblock %}